# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
client/node_modules/
server/node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test
.env.production
.env.development
.env*.local
client/.env
server/.env

# Mac OS X hidden files
.DS_Store

# Windows hidden files
Thumbs.db

# Project specific
server/backups/
server/uploads/
server/build/
client/dist/
client/.vite/
